body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    align-items: right;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 250px;
    background-color: bisque;
}

.imagen{
    justify-content: left;
    width: 30%;
    height: 100%;
}

img{
    width: 350px;
    height: 250px;
}

nav{
    width: 70%;
    height: 100%;
}

.divtitulo{
    height: 80%;
}

.h1header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    color: brown;
    font-size: 80px;
}

.h1header:hover{
    color: black;
}

ul{
    height: 20%;
    display: flex;
    justify-content: right;
    gap: 5;
    margin: 0px;
    padding: 0px;
}


li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    list-style-type: none;
    text-align: center;
    right: auto;
}

a:hover{
    color: black;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: brown;
}

.principal{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    background-image: url(/ActividadesBootcamp/assets/fondo.jpg);
    background-size: cover;
    background-position: 0px -200px;
    padding-top: 10px;
}

.margen{
    height: auto;
}

.navegacion{
    width: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.division{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    margin-top: 0px;
}

.imagenes{
    width: 150px;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.subtitulo{
    width: 200px;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    align-content: center;
    background-color: bisque;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

footer{
    display: flex;
}

.piedepagina{
    background-color: bisque;
    width: 100%;
    height: 85px;
    justify-content: center;
    align-items: center;
}

.contacto{
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

h3{
    margin: 2px;
    text-align: center;
}

.logo{
    text-align: center;
}